html {
	height: 100%
}


body {
	animation: ubah-background 5s infinite linear;

	justify-content: center;
	display: flex;
	align-items: center;
	height: 100%


}

.container{
	width: 150px;
	height: 150px;
	position: relative;

}




.container .sun, .moon  {
	height: 150px;
	width: 150px;
	border-radius: 50%;
	position: absolute;
	
}
.container .sun {
	background-color: yellow;
	z-index: 1;
	
}

.container .moon {
	z-index: 50;
	background-color: black;
	left: 160px;
	position: absolute;
	animation: gerakan-bulan 5s infinite linear, ubah-background 5s infinite linear;
}



@keyframes gerakan-bulan {
	0%{
		left: 160px;
	}
	100%{
		left: -160PX;
	}
}

@keyframes ubah-background {
	0%{
		background: #fff
	}
	50%{
		background: black;
	}
	100%{
		background: #fff
	}
}